// media

$xs: "(max-width:576px)";
$sm: "(min-width:577px)";
$md: "(min-width:768px)";
$lg: "(min-width:992px)";
$xl: "(min-width:1200px)";

// color

$red: #e2494c;
$grey: #9c9c9c;

// vars

$left: left;
$right: right;
